.cadres{
    display : flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

.titre{
    color : #2F6CB4;
    font-size : 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
}

.img{
    height : 200px ; 
    width : 200px ; 
    align-content: center;
}

.prenom{
    font-size: 30px ;
}

.cadre{
    background : #FFF5CD; 
    color : #2F6CB4; 

    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;

    width: 350px; 
    height : 430px ; 
    border-radius: 5px;    
    overflow: hidden;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size : 1.1em; 
    
}

