.pokemonU{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    max-width: 1200px;
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: rgba(22,22,22,0.5); /* complimenting your modal colors */
    }
    
    .titleU{
    position: static;
    width: fit-content;
    height: auto;
    left: 0px;
    top: 0px;
    
    font-family: Open Sans;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 100px;
    line-height: 68px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #2F6CB4;
    margin-left:auto;
    margin-right: auto;
    }
    
    .pokeTypeU{
        display: flex;
        flex-direction: row;
        text-transform: capitalize;
        justify-content: center;
        width:inherit;
        flex-wrap: wrap;
    }
    
    .bodyU{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    position: static;
    
    top: 68px;
    background: #CADAEC;
    padding: auto;
    border-radius: 5%;
    }
    
    .imageU{
        width: 500px;;
        height: 500px;
    }
    
    .pokeListU{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .typeU{
        padding: 1%;
        text-align: center;
        align-self: center;
        vertical-align: middle;
        border-radius: 15%;
    }
    .numU{
        height: 30px;
        width: 30px;
        border: solid;
        border-color: #2F6CB4;
        border-radius: 50%;
        text-align: center;
        color: #2F6CB4;
        font-weight: 700;
        align-content: center;
      }

      .chart{
          height: 200px;
          width: 200px;
      }