.pokemon{
display: flex;
flex-direction: column;
align-items: center;

position: relative;
width: 300px;
height: 400px;
max-width: 300px;
max-height: 400px;
margin-left:5%;
margin-right: 5%;

background: #FFFFFF;
}

.title{
position: static;
width: fit-content;
height: auto;
left: 0px;
top: 0px;

font-family: Open Sans;
text-transform: capitalize;
font-weight: bolder;
font-size: 50px;
line-height: 68px;
display: flex;
align-items: center;
text-align: center;

color: #2F6CB4;
margin-left:auto;
margin-right: auto;
}

.pokeType{
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    justify-content: center;
    width:inherit;
    flex-wrap: wrap;
}

.body{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


position: static;
width: 250px;
height: 350px;

top: 68px;
background: #CADAEC;
padding: 2%;
border-radius: 5%;
}

.image{
    width: 200px;;
    height: 200px;
}

.menu{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 126px 22px;

position: static;
width: 346px;
height: 1069px;
left: 0px;
top: 0px;

background: #3D3D3D;
border-radius: 0px 10px 10px 0px;
}

.pokeList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.type{
    padding: 1%;
    text-align: center;
    align-self: center;
    vertical-align: middle;
    border-radius: 15%;
}
.num {
    height: 30px;
    width: 30px;
    border: solid;
    border-color: #2F6CB4;
    border-radius: 50%;
    text-align: center;
    color: #2F6CB4;
    font-weight: 700;
    align-content: center;
  }

